.body .container {
  padding: 0em;
}

.body .ms-Breadcrumb {
  margin-top: 0;
  margin-bottom: 0em;
}

.body .selection {
  height: calc(100vh - 16.5em);
  overflow-x: auto;
}

.body .selection .selection-item {
  display: flex;
  padding: 0.5em;
}

.body .selection .selection-item .name {
  margin-left: 0em;
}
